head {
	text-align: center;
}

div.one {
	/*font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;*/
	font-family: 'Cormorant Garamond', serif;
	font-size: 70px;
	text-align: center;
}

div.two {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
}

img.fitted {
	position: relative;
    max-width: 80%;
    max-height: 80%;
    padding: 0;
    display: block;
    margin: 0;
}

img.center {
    display: block;
    margin: auto;
}

a {
  color: #00B7FF;
}

div.maintitle {
	
}