body {
  padding: 0;
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font: 80px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img.fitted {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 50px;
    display: block;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}

div.maintitle {
	
}