body {
  padding: 0;
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

h1 {
	font: 80px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img.fitted {
	position: relative;
    max-width: 80%;
    max-height: 80%;
    padding: 0;
    display: block;
    margin: 0;
}

img.center {
    display: block;
    margin: auto;
}

a {
  color: #00B7FF;
}

div.maintitle {
	
}